<div class="form-group row <%= if @form.errors[@field], do: "has-danger" %>">
    <%= label @form, @field, @label, class: "col-sm-4 col-md-3 col-lg-3 col-form-label text-sm-right" %>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= password_input(@form, @field, class: "form-control") %>
    </div>
    <div class="offset-sm-4 col-sm-8 offset-md-3 col-md-9 offset-lg-3 col-lg-9">
      <%= error_tag @form, @field %>
    </div>
  </div>
