<div class="col-xs-12">
  <h1 class="mt-1"><%= @calendar_event.title %></h1>
  <hr />

  <%= render "form.html", Map.put(assigns, :action, calendar_event_path(@conn, :update, @calendar_event)) %>
</div>
