<div class="col-xs-12">
  <h1 class="mt-1"><%= dgettext "menu", "new_payment_check" %></h1>
  <hr />

  <%= render "form.html", conn: @conn,
                          changeset: @changeset,
                          payment_systems: @payment_systems,
                          action: payment_check_path(@conn, :create) %>
</div>
